@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
    /* outline: 1px solid black; */
}

html,
body {
    position: relative;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    border: 1px solid #ddd;
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.29);
    border-radius: 100px;
}

body {
    min-width: 1380px;
    display: block;
}

section {
    width: 100%;
    /* opacity: 0; */
    /* outline: 1px solid black; */
}


.inner {
    width: 1300px;
    margin: 0 auto;
    /* outline: 1px solid rgb(0, 0, 0); */
}

header {
    width: 100%;
    height: 90px;
    padding-top: 22px;
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 3;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left,
.menu {
    display: flex;
}

.menu {
    margin-bottom: 7px;
}

.left {
    align-items: center;
}

header .inner .left img {
    margin-right: 50px;
}

.menu li a {
    font-size: 1.125rem;
    margin-right: 50px;
    color: black;
    font-weight: 700;
    transition: .3s;
}

.menu li a:hover {
    color: #009FE3;
}

.right {
    display: flex;
}

.right a img {
    margin-left: 10px;
}

.searcharea {
    border-radius: 8px;
    width: 250px;
    height: 40px;
    display: flex;
    background: rgb(204, 204, 204, .6);
    justify-content: space-evenly;
    align-items: center;
}

input {
    background: transparent;
    border: none;
    font-size: 14px;
    color: black;
    cursor: default;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgb(0, 0, 0, .5);
}

/* 헤더 */

.slide {
    background: #f8f8f8;
    padding-top: 50px;
    padding-bottom: 70px;
}

.swiper {
    width: 1300px;
    margin-top: 50px;
    /* outline: 1px solid black; */

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* outline: 1px solid black; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

h1 {
    font-size: 2.875rem;
}

.text, h1 {
    text-align: center;
}

.text {
    margin-top: 50px;
}

.text h2 {
    font-size: 2.875rem;
}

.text p {
    font-size: 1.25rem;
    margin-top: 20px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.qr {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 50px;
    /* outline: 1px solid black; */
    background: #fff;
    padding: 15px;
    border-radius: 8px;
}

.qr p {
    font-size: 1rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

.use {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 85px;
}
/* 슬라이드 */

footer {
    height: 300px;
    background: #000;
}

footer .inner {
    border-top: 0.5px solid rgb(255, 255, 255, 0.4);
}



select {
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255, 0.6);
    font-size: 0.875rem;
    font-weight: 700;
    background: transparent;
    color: rgb(255, 255, 255, 0.8);
    padding: 0 10px;
    transition: 0.3s;
    appearance: none;
}


select option {
    color: #fff;
    background: #000;
}

select:focus {
    outline: none;
}

select:hover {
    border: 2px solid rgb(255, 255, 255, 0.85);
    color: #fff;
    background: rgb(255, 255, 255, 0.1);
}

footer {
    height: 330px;
}

footer .top {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 17px;
    border-bottom: 0.5px solid rgb(255, 255, 255, 0.4);
}

footer .top .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 30px;
}

.dwn a:first-child {
    margin-right: 10px;
}

footer .right a {
    color: #fff;
    font-weight: 500;
}

footer .right {
    color: rgb(255, 255, 255, 0.7);
    font-weight: 700;
    margin-top: 20px;
}

.first li,
.second li {
    margin-bottom: 8px;
}

.second {
    margin-left: 70px;
}

footer .bottom {
    margin-top: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

footer .bottom .left {
    display: flex;
    align-items: center;
}

footer .bottom .left span {
    color: rgb(255, 255, 255, 0.6);
    margin-left: 40px;
}

footer .bottom .right {
    margin: 0;
}

footer .bottom .right a:nth-child(-n+3) {
    margin-right: 25px;
}
footer select::-webkit-scrollbar {
    background: #000;
    width: 10px;
}

footer select::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.4);
    background-clip: padding-box;
    border-radius: 10px;
    border: 2px solid transparent;
}
/* 푸터 */

.toggle {
    display: none;
    position: relative;
    right: -30%;
}

#menuicon {display: none;}
#menuicon + label {display: block; margin: 30px; width: 30px; height: 25px; position: relative; cursor: pointer;}  
#menuicon + label span {display: block; position: absolute; width: 100%; height: 5px; border-radius: 30px; background: rgb(0, 0, 0, .8); transition: all .35s;}
#menuicon + label span:nth-child(1) {top: 0;}    
#menuicon + label span:nth-child(2) {top: 50%; transform: translateY(-50%);}
#menuicon + label span:nth-child(3) {bottom: 0;}
#menuicon:checked + label {z-index: 1000;}
#menuicon:checked + label span {background: rgb(255, 255, 255, .8);}
#menuicon:checked + label span:nth-child(1) {top: 50%; transform: translateY(-50%) rotate(45deg);}
#menuicon:checked + label span:nth-child(2) {opacity: 0;}
#menuicon:checked + label span:nth-child(3) {bottom: 50%; transform: translateY(50%) rotate(-45deg);}

.sidebar {
    width: 300px;
    height: 100%;
    background: rgb(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
    right: 0;
}

.menu2 {
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 100px;
    text-align: center;
    gap: 15px;
}

.menu2 a {
    color: rgb(255, 255, 255, .8);
}

/* 모바일 */
@media all and (max-width:500px) {
    * {
        word-break: keep-all;
    }

    html {
        font-size: 12px;
    }

    body {
        min-width: auto;
    }

    .inner,
    .swiper {
        width: 100%;
        padding: 0 30px;
    }

    .menu,
    header .right .searcharea,
    header .right a img {
        display: none;
    }

    header .right a:last-child {
        display: block;
        margin-bottom: 10px;
    }

    .inquire {
        padding-top: 80px;
    }

    .dwn {
    display: flex;
    flex-direction: column;
    }

    footer {
        padding-top: 20px;
        height: auto;
    }

    footer .inner {
        border-top: 0;
    }

    footer .top {
        flex-direction: column;
        align-items: center;
    }

    footer .top .left {
        align-items: center;
    }

    footer .bottom {
        flex-direction: column;
        justify-content: space-around;
    }

    footer .bottom .left {
        flex-direction: column;
    }

    footer .bottom img {
        display: none;
    }

    select {
        margin-right: 9px;
    }
}

/* 태블릿 */
@media all and (max-width: 956px) {
    * {
        word-break: keep-all;
    }

    html {
        font-size: 14px;
    }

    body {
        min-width: auto;
    }

    .inner,
    .swiper {
        width: 100%;
        padding: 0 30px;
    }

    .menu,
    header .right .searcharea,
    header .right a img {
        display: none;
    }

    header .right a:last-child {
        display: block;
        margin-bottom: 10px;
    }

    header {
        padding-top: 5px;
    }

    .toggle {
        display: block;
    }

    .qr {
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    .text2 {
        text-align: center;
    }

    .use {
        margin-top: 20px;
        justify-content: center;
    }

    footer {
        padding-top: 20px;
        height: auto;
    }

    footer .inner {
        border-top: 0;
    }

    footer .top {
        flex-direction: column;
        align-items: center;
    }

    footer .top .left {
        align-items: center;
    }

    footer .bottom {
        flex-direction: column;
        height: 150px;
    }

    footer .bottom img {
        margin-bottom: 10px;
    }

    footer .bottom .left {
        flex-direction: column;
    }

    footer .bottom .right {
        margin-bottom: 12px;
    }
}


/* 태블릿까지 */
@media all and (min-width: 957px) and (max-width: 1379px) {
    body {
        min-width: auto;
    }

    .inner,
    .swiper {
        width: 100%;
        padding: 0 30px;
    }
}