@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
    /* outline: 1px solid black; */
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.29);
    border-radius: 100px;
}

body {
    min-width: 1380px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    width: 100%;
}

.inner {
    width: 1300px;
    margin: 0 auto;
}
/* set */


header {
    width: 100%;
    height: 90px;
    padding-top: 22px;
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 3;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left,
.menu {
    display: flex;
}

.menu {
    margin-bottom: 7px;
}

.left {
    align-items: center;
}

header .inner .left img {
    margin-right: 50px;
}

.menu li a {
    font-size: 1.125rem;
    margin-right: 50px;
    color: black;
    font-weight: 700;
    transition: .3s;
}

.menu li a:hover {
    color: #009FE3;
}

.right {
    display: flex;
}

.right a img {
    margin-left: 10px;
}

.searcharea {
    border-radius: 8px;
    width: 250px;
    height: 40px;
    display: flex;
    background: rgb(204, 204, 204, .6);
    justify-content: space-evenly;
    align-items: center;
}

input {
    background: transparent;
    border: none;
    font-size: 14px;
    color: black;
    cursor: default;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: transparent;
    transition: .3s;
}

.searcharea:hover input::placeholder {
    color: rgb(0, 0, 0, .5);
}

#menuicon {display: none;}
#menuicon + label {display: block; margin: 30px; width: 30px; height: 25px; position: relative; cursor: pointer;}  
#menuicon + label span {display: block; position: absolute; width: 100%; height: 5px; border-radius: 30px; background: rgb(0, 0, 0, .8); transition: all .35s;}
#menuicon + label span:nth-child(1) {top: 0;}    
#menuicon + label span:nth-child(2) {top: 50%; transform: translateY(-50%);}
#menuicon + label span:nth-child(3) {bottom: 0;}
#menuicon:checked + label {z-index: 2;}
#menuicon:checked + label span {background: rgb(255, 255, 255, .8);}
#menuicon:checked + label span:nth-child(1) {top: 50%; transform: translateY(-50%) rotate(45deg);}
#menuicon:checked + label span:nth-child(2) {opacity: 0;}
#menuicon:checked + label span:nth-child(3) {bottom: 50%; transform: translateY(50%) rotate(-45deg);}

.sidebar {
    width: 300px;
    height: 100%;
    background: rgb(0, 0, 0, .85);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
    right: 0;
}

.menu2 {
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 100px;
    text-align: center;
    gap: 15px;
}

.menu2 a {
    color: rgb(255, 255, 255, .8);
}

.toggle {
    display: none;
    position: relative;
    right: -30%;
}
/* 토글 */

/* 헤더 */

footer {
    height: 360px;
    background: #000;
    position: relative;
}

.label {
    background: rgb(255, 255, 255, .9);
    text-align: center;
    padding: 4px 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label a {
    color: #066aff;
}

#xmark {
    position: absolute;
    right: 5px;
    bottom: 7px;
    cursor: pointer;
}

.label a:hover {
    text-decoration: underline;
}

footer .inner {
    padding-top: 30px;
}

select {
    appearance: none;
}

select {
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255, 0.6);
    font-size: 0.875rem;
    font-weight: 700;
    background: transparent;
    color: rgb(255, 255, 255, 0.8);
    padding: 0 10px;
    transition: 0.3s;
}

select option {
    color: #fff;
    background: #000;
}

select:focus {
    outline: none;
}

select:hover {
    border: 2px solid rgb(255, 255, 255, 0.85);
    color: #fff;
    background: rgb(255, 255, 255, 0.1);
}

footer .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    border-bottom: 0.5px solid rgb(255, 255, 255, 0.4);
}

footer .top .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 30px;
}

.dwn a:first-child {
    margin-right: 10px;
}

footer .top .right a {
    color: #fff;
    font-weight: 500;
}

footer .top .right {
    color: rgb(255, 255, 255, 0.7);
    font-weight: 700;
    margin-top: 20px;
}

.first li,
.second li {
    margin-bottom: 8px;
}

.second {
    margin-left: 70px;
}

footer .bottom {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .bottom .left {
    display: flex;
    align-items: center;
}

footer .bottom .left span {
    color: rgb(255, 255, 255, 0.6);
    margin-left: 40px;
}

footer .bottom .right {
    margin: 0;
    display: flex;
}

footer .bottom .right a:nth-child(-n+3) {
    margin-right: 25px;
}

footer select::-webkit-scrollbar {
    background: #000;
    width: 10px;
}

footer select::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.4);
    background-clip: padding-box;
    border-radius: 10px;
    border: 2px solid transparent;
}
/* 푸터 */

.login-form {
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
}

.login-form h1 {
    font-size: 2rem;
    margin-bottom: 60px;
}

.int-area {
    width: 400px;
    position: relative;
    margin-top: 20px;
}

.int-area:first-child {
    margin-top: 0;
}

.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border-bottom: 1px solid #999;
    font-size: 1rem;
    outline: none;
}
.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 1.125rem;
    transition: top .3s ease;
    color: #999;
}

.int-area label.warning {
    color: red !important; 
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {
        transform: translateX(-8px);
    }
    25% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-8px);
    }
    75% {
        transform: translateX(8px);
    }
}

.int-area input:focus + label,
.int-area input:valid + label {
    top: 0;
    font-size: 0.875rem;
    color: #166cea;
}

.btn-area {
    margin-top: 30px;
}

.btn-area button {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background: #166cea;
    font-size: 1.25rem;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caption a {
    color: #999;
}

.caption a:last-child {
    font-size: 0.875rem;
}

.caption span {
    color: #166cea;
    margin-left: 10px;
}

.caption span:hover {
    text-decoration: underline;
}

.login-form > a {
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    width: 310px;
    margin-bottom: 25px;
}

.login-form > a:nth-child(2) {
    background: #fff;
    color: #000;
    margin-bottom: 90px;
    border: 1px solid rgb(0, 0, 0, .2);
}

.login-form > a i,
.login-form > a img {
    margin-right: 50px;
    margin-left: 20px;
}

.login-form a p {
    margin-left: 15px;
}

.login-form > a img {
    width: 18px;
}

/* 모바일 */
@media all and (max-width:500px) {
    * {
        word-break: keep-all;
    }

    html {
        font-size: 12px;
    }

    body {
        min-width: auto;
    }

    .inner {
        width: 100%;
        padding: 0 30px;
    }

    .menu,
    header .right .searcharea,
    header .right a img {
        display: none;
    }

    header .right a:last-child {
        display: block;
        margin-bottom: 10px;
    }

    .btn-area button,
    .int-area input
     {
        width: 70%;
    }

    .int-area label {
        width: 40%;
    }


    .dwn {
    display: flex;
    flex-direction: column;
    }

    footer {
        padding-top: 20px;
        height: auto;
    }

    footer .inner {
        border-top: 0;
    }

    footer .top {
        flex-direction: column;
        align-items: center;
    }

    footer .top .left {
        align-items: center;
    }

    footer .bottom {
        flex-direction: column;
        justify-content: space-around;
    }

    footer .bottom .left {
        flex-direction: column;
    }
    
    footer .bottom img {
        display: none;
    }

    
}

/* 태블릿 */
@media all and (max-width: 956px) {
    * {
        word-break: keep-all;
    }

    html {
        font-size: 14px;
    }

    body {
        min-width: auto;
    }

    .inner {
        width: 100%;
        padding: 0 30px;
    }

    .menu,
    header .right .searcharea,
    header .right a img {
        display: none;
    }

    header .right a:last-child {
        display: block;
        margin-bottom: 10px;
    }

    header {
        padding-top: 5px;
    }

    .toggle {
        display: block;
    }

    footer {
        padding-top: 20px;
        height: auto;
    }

    footer .inner {
        border-top: 0;
    }

    footer .top {
        flex-direction: column;
        align-items: center;
    }

    footer .top .left {
        align-items: center;
    }

    footer .bottom {
        flex-direction: column;
        height: 150px;
    }

    footer .bottom img {
        margin-bottom: 10px;
    }

    footer .bottom .left {
        flex-direction: column;
    }

    footer .bottom .right {
        margin-bottom: 12px;
    }
}

/* 태블릿까지 */
@media all and (min-width: 957px) and (max-width: 1379px) {
    body {
        min-width: auto;
    }

    .inner {
        width: 100%;
        padding: 0 30px;
    }
}
