@charset "UTF-8";

html {
    font-size: 12px;
}

body {
    min-width: auto;
}

.inner {
    width: 100%;
    padding: 0 30px;
}

.slide,
.main,
.chrome .right img,
.title h2,
.title h3,
.scroll {
    display: none;
}
/* 세팅 */

header {
    background: #000;
}

header:hover {
    background: blue;
}


/* 헤더 */

.chrome {
    padding-bottom: 20px;
    margin-top: 90px;
}

.chrome a {
    padding: 12px 30px;
    gap: 6px;
    box-shadow: none;
    border: 1px solid rgb(0, 0, 0, .1);
}

.chrome h2, .chrome h3 {
    text-align: center;
    text-shadow: none;
}

.chrome h2 {
    margin-top: 10px;
}
/* 익스텐션 */

.gbl {
    height: auto;
    padding-top: 40px;
}

.gblchrt {
    margin-top: 50px;
}

.rank {
    margin-top: 20px;
}
/* 글로벌차트 */

.city {
    margin-top: 0;
}
/* 도시별차트 */

.inquire {
    padding-top: 80px;
}

.inquire h2 {
    text-shadow: none;
}

.inquire button {
    box-shadow: none;
}
/* 문의 */

.go-top {
    box-shadow: none;
    right: 25px;
    bottom: 25px;
}
/* 탑버튼 */

.dwn {
    display: flex;
    flex-direction: column;
}

footer .bottom {
    justify-content: space-around;
}

footer .bottom img {
    display: none;
}
/* 푸터 */

select {
    margin-right: 9px;
}